<!DOCTYPE html>
<html>
<head>
  <title>Red Button</title>
  <style>
     .red-button {
        width: 200px;
        height: 200px;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
     }
  </style>
</head>
<body>

  <img src={{ url_for('static', filename='big_red_button.jpg') }} alt="Red Button" class="red-button">

  <script>
     document.querySelector('.red-button').addEventListener('click', function() {
        this.style.transform = 'scale(1.2)';
        fetch('/load_stats/', {method: 'POST'}
        ).then(data => data.redirected && (document.location.href = data.url))
     });
  </script>
</body>
</html>
